/* 다른 css 파일을 불러오는 것 */
@import "reset.css";
@import "var.css";
@import "badge.css";

/* header */
@import "header/status-bar.css";
@import "header/home.css";

/* main */
@import "main/login.css";
@import "main/friend.css";
@import "main/user-component.css";
@import "main/search.css";

/* footer */
@import "footer/nav-bar.css";


body {
  font-family: sans-serif;
  font-weight: bold;
}

.main-screen {
  padding: 0px var(--space);
}
